<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>よくあるブログサービス</title>
    <link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/good.js"></script>
</head>
<body>
    <div id="navigation_bar">
        <a href="/"><i class="fas fa-home fa-2x nav-icon" title="メインページに戻る"></i></a>
        {% if current_user.is_authenticated %}
        <a href="/edit/new"><i class="far fa-file fa-2x nav-icon" title="新規作成"></i></a>
        <a href="/mypage/{{current_user.name}}">
            <img src="/static/uploads/{{current_user.icon_file_name}}" width="32" height="32" title="{{current_user.name}}">
            {{current_user.name}}
        </a>
        <a href="/config/{{current_user.name}}"><i class="fas fa-user-cog fa-2x nav-icon" title="ユーザ設定"></i></a>
        <a href="/logout"><i class="fas fa-sign-out-alt fa-2x nav-icon" title="ログアウト"></i></a>
        {% else %}
        <a href="/login"><i class="fas fa-sign-in-alt fa-2x nav-icon" title="ログイン"></i></a>
        {% endif %}
    </div>

    <div id="body">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>