{% extends "base.html" %}

{% block body %}

{% if current_user.id == content.user_id %}
<a href="/edit/{{content.id}}">編集する</a>
<a href="/delete/{{content.id}}">削除する</a>
{% endif %}
<h1>{{content.title}}</h1>
<p>
    <a href="/mypage/{{content.user.name}}" class="content_user_name">
        <img src="/static/uploads/{{content.user.icon_file_name}}" width="32" height="32" title="{{content.user.name}}">
        {{content.user.name}}
    </a>
</p>
<p>{% if current_user.is_authenticated %}
        {% if content.good %}
        <i class="far fa-heart good-btn good-btn-active" data-content_id="{{content.id}}"></i>
        {% else %}
        <i class="far fa-heart good-btn" data-content_id="{{content.id}}"></i>
        {% endif %}
    {% else %}
    <i class="far fa-heart" data-content_id="{{content.id}}"></i>
    {% endif %}
    <span class="content_good_count">　{{content.good_count}}</span>
</p>
{{content.body}}

{% endblock %}