{% extends "base.html" %}

{% block body %}

<h1>ブログ作成</h1>
{% if content %}
<form action="/publish/{{content.id}}" method="post">
    <input type="text" name="title" placeholder="title" value="{{content.title}}">
    <br>
    <input type="text" name="body" placeholder="body" value="{{content.body}}">
    <br>
    <input type="submit" value="更新">
</form>
{% else %}
<form action="/publish/new" method="post">
    <input type="text" name="title" placeholder="title">
    <br>
    <textarea name="body" placeholder="body" rows="10" cols="50"></textarea>
    <br>
    <input type="submit" value="投稿">
</form>
{% endif %}

{% endblock %}