<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>よくあるブログサービス</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <div>
        <a href="/mypage/{{current_user.name}}">{{current_user.name}}</a>
        <a href="/logout">ログアウト</a>
    </div>
    {% else %}
    <div>
        <a href="/login">ログイン</a>
    </div>
    {% endif %}

    <h1>よくあるブログサービス</h1>

    {% for content in contents %}
    <div>
        <p>{{content.user.name}}：<a href="/content/{{content.id}}">{{content.title}}</a>　//　{{content.good_num}} good</p>
    </div>
    {% endfor %}

</body>
</html>