{% extends "base.html" %}

{% block body %}

<h1>sign up</h1>
<form action="/sign_up_submit" method="post">
    <span>ユーザ名</span>
    <input type="text" name="user_name" placeholder="user name">
    <br>
    <span>パスワード</span>
    <input type="password" name="password" placeholder="password">
    <br>
    <span>パスワード再入力</span>
    <input type="password" name="confirm_password" placeholder="confirm password">
    <br>
    <input type="submit" value="login">
</form>
<a href="/login">return to login page</a>

{% endblock %}